*{
    /*padding: 0;*/
    margin: 0;
    box-sizing: border-box;
    /*list-style: none;*/
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #f7f7f7;
}

html{
    scroll-behavior: smooth;
    }

.main-content{
    min-height: 100vh;
    width: 85%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

.left-section{
    grid-column: span 3;
    height: 100%;
    background-color: #303B4D;
}

.middle-section{
    grid-column: span 11;
    background-color: white;
    height: 100%;
}

.right-section {
    grid-column: span 4;
    background-color: #303B4D;
    height: 100%;
}

.left-content{
    padding: 1rem 1.7rem;
    position: sticky;
    top: 0;
}

.social-media ul {
    margin: 0;
    display: flex;
    padding: 0.5rem 0.5rem ;
}

.social-media ul li {
    list-style: none;
    margin: 0 6px;
}

.social-media ul li .fa {
    color: #303B4D;
    font-size: 15px;
    line-height: 40px;
    transition: .5s;
}

.social-media ul li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-media ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.smooth-scroll{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    list-style: none;
    /*letter-spacing: 1px;*/
    line-height: 2;
    padding: 0.8rem 0;
}

ul.smooth-scroll li a {
    color: white;
    text-decoration: none;
}

.my-profile{
    width: 100%;
}

.my-photo{
    width: 100%;
    display: block;
    text-align: center;
}

.my-profile img{
    width: 100%;
    border: 50%;
    border: 10px solid #303B4D;
}

.middle-content{
    padding: 1rem 1.7rem;
}

.firstname{
    font-size: 2.5rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 1rem;
}

.lastname{
    font-size: 2.5rem;
    color: #006291;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 1rem;
}

.career{
    font-size: 18px;
    color: #0F9DBF;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.paragraph{
    font-size: 0.8rem;
    color: black;
    text-align: justify;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    line-height: 1.5;
}

.cv-title{
    font-size: 17px;
    color: #0F9DBF;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.6rem 0;
}

.job-title{
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.3rem;
}

.job-year{
    font-size: 10px;
    font-weight: bold;
    color: #0F9DBF;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.list-1{
    font-size: 0.8rem;
    color: black;
    text-align: justify;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    line-height: 1.2;
}

.list-1 li {
    margin-bottom: 0.5rem;
}

.list-1 li::marker {
    color: #0F9DBF;
    font-size: 1.2rem;
}

.paragraph1{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: justify;
    letter-spacing: 1px;
    padding-bottom: 0.2rem;
}

.paragraph2{
    font-size: 0.8rem;
    text-align: justify;
    letter-spacing: 1px;
    padding-bottom: 1.2rem;
}

.read1{
    color: #0F9DBF;
    font-size: 0.7rem;
    font-weight: normal;
    font-weight: bold;
}

.year1{
    font-size: 0.6rem;
    color: #0F9DBF;
    font-weight: bold;
}

.right-content1-table{
    padding: 0 1rem;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.w-cv-title{
    font-size: 17px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    /*letter-spacing: 1px;*/
    padding: 0.8rem 0;
}

.table-no-border {
  border-collapse: collapse;
  color: #BFCFD6;
}

.table-no-border td {
  border: none;
  padding: 5px;
}

#map {
    width: 222px;
    height: 180px;
    padding: 10px 0;
    padding-right: 2px;
}

.list-n{
    font-size: 0.8rem;
    color: #BFCFD6;
    text-align: left;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    list-style: none;
    padding: 0;
    line-height: 1.9;
}

.w-cv-title-p{
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-align: left;
    text-transform: uppercase;
    /*letter-spacing: 1px;*/
    padding: 0.8rem 0;
}

.custom-audio {
    width: 100%;
    height: 50px;
    padding-top: 0.6rem;
}

.list-nr{
    font-size: 0.8rem;
    color: #BFCFD6;
    text-align: left;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    line-height: 1.6;
    list-style: none;
    padding: 0;

.right-content1-table-r{
    padding: 0 1rem;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}


